{% extends "base.html" %}
{% block title %}
Welcome To FesonX's Blog
{% endblock %}

{% block content %}
    {% load staticfiles %}

<div class="text-center" style="color: dimgray; ">
    <h1 class="text-center">2049, 相信未来</h1>
    <h3> <a href="{% url 'about' %}">Posts</a> | <a href="{% url 'about' %}">About</a></h3>
    <p></p>
    <img class="center-block"width="50%" height="auto" style="border-radius: 10px"
         src="{% static 'images/homepage.jpeg' %}" href="https://unsplash.com/@ryoji__iwata">
    © Photo by <a href="https://unsplash.com/@ryoji__iwata">Ryoji Iwata</a> from Unsplash
</div>
{% endblock %}